// =========================| Board |========================= //



//--------------------------| Variables

$min-offset: map-get($roles-offsets, 'board');
$max-offset: $min-offset * 2;


//--------------------------| Body

.po-board {
  @include scaler(padding, $min-offset, $max-offset);

  background-color: map-get($reg-backgrounds, 'white');
}
