// =========================| Registries: Typography |========================= //



//--------------------------| Font families

$reg-font-families: (
  'pp–serif':  '"pp–serif", Times, serif',
  'pp–slab':   '"pp–slab", Times, serif',
  'pp–sans':   '"pp–sans", Arial, sans-serif',
  'pp–mono':   '"Courier New", monospace'
);


//--------------------------| Font weights

$reg-font-weights: (
  'light':    300,
  'regular':  400,
  'medium':   500,
  'semibold': 600,
  'bold':     700,
  'black':    800
);


//--------------------------| Line-heights

$reg-line-heights: (
  'normal': normal,
  '120%': 1.2,
  '130%': 1.3,
  '140%': 1.4,
  '150%': 1.5,
  '170%': 1.7
);
