// =========================| App |========================= //



//--------------------------| Body

#app {
  min-width: 320px;
  max-width: 480px;
  min-height: 100vh;
  margin: 0 auto;
  font: 300 1rem 'Open Sans', sans-serif;
  background-color: map-get($reg-backgrounds, 'pale-silver');
}
