// =========================| App |========================= //



//--------------------------| Body

#app {
  @include font-smoothing();
  @include box-shadow(0 0 20px #ccc);

  min-width: map-get($reg-screens, 'min');
  max-width: map-get($reg-screens, 'max');
  margin: 0 auto;
  font: map-get($roles-typo-font-weights, 'text') 1em map-get($roles-typo-font-families, 'text');
  text-align: center;
  background-color: map-get($reg-backgrounds, 'pale-silver');
}
