// =========================| Mixins: Helpers |========================= //



//--------------------------| Padding

@mixin padding-v($value) {
  padding-top: $value;
  padding-bottom: $value;
}

@mixin padding-h($value) {
  padding-right: $value;
  padding-left: $value;
}


//--------------------------| Margin

@mixin margin-v($value) {
  margin-top: $value;
  margin-bottom: $value;
}

@mixin margin-h($value) {
  margin-right: $value;
  margin-left: $value;
}


//--------------------------| Border

@mixin border-v($value) {
  border-top: $value;
  border-bottom: $value;
}

@mixin border-h($value) {
  border-right: $value;
  border-left: $value;
}


//--------------------------| Scaler

@mixin scaler($property, $min-size, $max-size, $min-vw: map-get($reg-screens, 'min'), $max-vw: map-get($reg-screens, 'max')) {
  $u1: unit($min-vw);
  $u2: unit($max-vw);
  $u3: unit($min-size);
  $u4: unit($max-size);

  @if $u1 == $u2 and $u1 == $u3 and $u1 == $u4 {
    & {
      #{$property}: $min-size;

      @media screen and (min-width: $min-vw) {
        #{$property}: get-progressive-calc($min-size, $max-size, $min-vw, $max-vw);
      }

      @media screen and (min-width: $max-vw) {
        #{$property}: $max-size;
      }
    }
  }
}
