// =========================| Registries: Colors |========================= //



$reg-colors: (

  //--------------------------| Black & White

  'black':        #000,
  'white':        #fff,


  //--------------------------| Gray

  'silver':       #d3d3d3,
  'graphite':     #676767,
  'dark-silver':  #e7e7e7,
  'pale-silver':  #eee,
  'dirty-white':  #f5f5f5,


  //--------------------------| Orange

  'orange-light': #ff9c00,
  'orange-dark':  #ff4800,


  //--------------------------| Blue

  'blue':         #369

);
