// =========================| Registries: Typography |========================= //



//--------------------------| Font families

$reg-font-families: (
  'pp–sans': '"Open Sans", sans-serif'
);


//--------------------------| Font weights

$reg-font-weights: (
  'light': 300,
  'bold':  700
);


//--------------------------| Line-heights

$reg-line-heights: (
  'normal': normal,
  '120%': 1.2,
  '130%': 1.3,
  '140%': 1.4,
  '150%': 1.5,
  '170%': 1.7
);
