// =========================| Roles: Sizes |========================= //



//--------------------------| Switch

$wings-per-row: 12;
$wing-side-offset: 1;

$roles-size-switch-base: ((map-get($reg-screens, 'min') - (map-get($roles-offsets, 'board') * 2)) / $wings-per-row) - ($wing-side-offset * 2);
$roles-size-switch-width: $roles-size-switch-base;
$roles-size-switch-height: $roles-size-switch-base * 2.5;
