// =========================| App |========================= //



//--------------------------| Import

@import '../../../node_modules/normalize.css/normalize.css';


//--------------------------| Body

$col-bgr: #ccf;
$col-text: #fff;

body {
  position: relative;
  display: block;
  background-color: $col-bgr;
}

.ttl {
  color: $col-text;
}
