// =========================| Switchboard A17 |========================= //



//--------------------------| Import

@import '../../../node_modules/normalize.css/normalize.css';


//--------------------------| Body

$col-bgr: #ccf;
$col-text: #fff;

body {
  background-color: $col-bgr;
}

.ttl {
  color: $col-text;
}
