// =========================| Roles: Sizes |========================= //



//--------------------------| Header icons

$roles-size-header-icons: 30px;
$roles-size-topline: 5px;
$roles-size-menu-item: 15px;
$roles-size-post: 34.091em; // ~750px
$roles-size-avatar: 2.5em;
