// =========================| Scaffolding styles |========================= //



// Document
//
// 1. Change from `box-sizing: content-box` so that `width` is not affected by `padding` or `border`.
// 2. Change the default font family in all browsers.
// 3. Correct the line height in all browsers.
// 4. Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.
// 5. Setting @viewport causes scrollbars to overlap content in IE11 and Edge, so
//    we force a non-overlapping, non-auto-hiding scrollbar to counteract.
// 6. Change the default tap highlight to be completely transparent in iOS.

*,
*::before,
*::after {
  @include box-sizing(border-box); // 1
}



//--------------------------| HTML

html {
  $min-font-size: map-get($roles-typo-font-sizes-base, 'min');
  $max-font-size: map-get($roles-typo-font-sizes-base, 'max');

  @include scaler(font-size, $min-font-size, $max-font-size);
}


//--------------------------| Body

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: map-get($reg-backgrounds, 'dirty-white');
}


//--------------------------| Text

strong {
  font-weight: map-get($reg-font-weights, 'bold');
}
