// =========================| Scaffolding styles |========================= //



//--------------------------| HTML

html {
  $min-font-size: map-get($roles-typo-font-sizes-base, 'min');
  $max-font-size: map-get($roles-typo-font-sizes-base, 'max');

  @include scaler(font-size, $min-font-size, $max-font-size);
}


//--------------------------| Body

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: map-get($reg-backgrounds, 'dirty-white');
}


//--------------------------| Text

strong {
  font-weight: map-get($reg-font-weights, 'bold');
}
